################################################################
#                                                              #
# .gitignore file for Grafana-Script                           #
#                                                              #
################################################################

# ignore byte-compiled files
*.pyo
*.pyc
__pycache__/
env
venv
unusedStuff.py
presentation.xml
presentation.json
presentation.xml.save
presentation.json.save